#mainContent {width:80%; height:100%; margin:auto; }
    #loginBlock { width:60%; margin:auto; height:60%; position:relative; top:10%; text-align: center; font-family: "Century gothic", Times, serif; color:red;}
        #loginBlock h4 {margin-bottom:0px; font-size:48px; color:#0dbeff;}
        #userInput { width:50%; height:30px; text-align: center; font-size:28px; }
        #loginButton {width:50%; height:30px; margin-top:20px; }
    
    #profileBlock { width:80%; height: 100%; margin:auto; }
        #profileTitle { font-size:72px; margin:auto; margin-top:20px; width:70%; text-align: center; }
        #profileContent { width:100%; height:70%; margin:0; margin-top: 35px; color:#0dbeff; }
            #profileOptions {width:23%; height:100%; float:left; }
                #profileOption { width:100%; height:90px; margin-top:40px; display:inline-block; cursor: pointer; cursor: hand; }
                    #profileFunctionIcon { float:left; }
                        #functionIcon { width: 83px; height:83px; }
                    #profileFunctionDescription { float:left; padding-left:10px; font-size:36px; padding-top:17px;  }
            #profileRespect { width:54%; height:100%; text-align: center; float:left; }
                #respectCounter { width:100%; text-align: center; font-size:200px;}
                #respectSub { width:100%; text-align: center; color:#000; font-size:72px; }
            #profileAvatar { width:23%; height:250px; float:right; text-align: center; }
                #avatar{width:100%; height:auto;}
                
    #communityStrength { width:175px; height:100%; margin:auto;}
            #communityIcon { width:50px; height:100%; float:left; }
            #communityData { width:125px; height:100%; float:left; text-align:center; font-size: 23px;}
                #communityData #buffer { width:100%; height:30%;}
    #profilesSearch { width:100%; height:60px; text-align:center; margin-top:40px; }  
    #searchResults { width:50%; height:107px; text-align:center; margin-top:20px; margin:auto; }
        #searchResult { width:47%; text-align: center; font-size:1.6em; float:left; margin-bottom:3px; background:white; color:black; border:3px solid black;  }
            #searchResultIcon { width:30%; height:107px; float: left;}
            #rightSide { width:70%; height:107px; float:left; }
                #searchResultUser { width:100%; height:50%; text-align:center; float:left;}
                #searchResultRespect { width:100%; height:50%; text-align: center; float:left; }
                    #searchResultRespect #respectIcon { position:relative; top:10px; } 
    .notificationBlock {width:100%; height:75px; font-size:48px; border:2px solid white; color:black; outline:none; }
        #notificationUser {  width:10%; padding-top:5px; float:left; text-align:center;}
            #notificationActualUser{width:95%; float:right; text-align: left; }
        #notificationTitle { width:80%; text-align: center; float:left; padding-top:5px;}
        #notificationGarbage { width:10%; float:left; padding-top:14px; text-align: center;}
            #replyImage { width:46px; height:43px; }
        
    #sad { width:400px; height:250px; margin:auto;}
        #sadImage { width:100%; height:100%;}
         